<div class="container">
    <h3 class="header"> All News Scrape</h3>
    <div id="buttons">
        <button class="btn" id="headline-sort">Headlines</button>
    </div>

    {{#each articles}}
    <div class="row">
        <div class="col-sm-2"> <img src={{Image}} style="width: 100%;"> </div>
        <div class="col-sm-10">
            <a href={{URL}}>
                <h3> {{Headline}}</h3>
            </a>
  <form>
            <p>{{Summary}}</p>
        <ul>
                {{#each comments}}
          <li>  {{this}}</li> //This would be the value of each DATE in the array
                {{/each}} 
                </ul> 
            <button data-id = {{id}} class = "commentbtn"> Comment </button> <br> <br>
           <textarea rows="4" cols="50" name="comment" form="usrform">
Enter text here...</textarea> 
        </div>
 </form>



    </div>
    {{/each}}


</div>
<br>


