<div class="container">
    <h3 class="header"> All News Scrape</h3>
    <div id="buttons">
        <button class="btn" id="headline-sort">Headlines</button>
    </div>

    {{#each articles}}
    <div class="row">
        <div class="col-sm-2"> <img src={{Image}} style="width: 100%;"> </div>
        <div class="col-sm-10">
            <a href={{URL}}>
                <h3> {{Headline}}</h3>
            </a>

            <p>{{Summary}}</p>
            <button data-id = {{id}} class = "deletebtn"> Delete </button>
        </div>



    </div>
    {{/each}}


</div>



